 body{
    margin: 0;
    padding: 0;
    background: url(back.jpg);
    background-size: cover;
    font-family: sans-serif;
}
.form_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 350;
    height: 420;
    padding: 60px 30px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.6);
    padding-bottom: 5%;
    padding-top: 50px;
}
h2{
    margin: 0;
    padding: 0 0 40px;
    font-weight: bold;
    color: #f3e541;
    text-align: center;
}
.form_box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #fff;
}
.form_box input{
    width: 100%;
    margin-bottom: 25px;
}
.form_box input[type="email"], .form_box input[type="password"] {
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    color: #fff;
    height: 40px;
    font-size: 16px;
}
.form_box input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    background: rgb(184, 140, 93);
    cursor: pointer;
    border-radius: 20px;
}
.form_box input[type="submit"]:hover{
    background: rgb(83, 80, 77);
    color:#fff ;
}
.form_box a{
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
::placeholder{
    color: rgba(255, 255, 255, 0.5);
}